.button {
  align-items: center;
  background-color: #fff;
  color: black;
  border: 0px;
  border-top: 2px solid lightgray;
  border-left: 2px solid lightgray;
  border-bottom: 5px solid gray;
  border-right: 4px solid gray;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  height: 50px;
  width: 100px;
}

.button:active {
  background-color: #EDEFF2;
}
