.auth_div {
    background-color: #fff;
    padding: 10px;
    /* margin-right: 15px; */
    margin-bottom: 15px;
    border-bottom: 4px solid gray;
    border-right: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    min-width: 35%;
    /* height: 60%; */
    /* margin: auto; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.auth_input {
    width: 20vw;
    height: 25px;
    border-radius: 100px;
    padding: 5px;
}

.auth_label {
    margin-bottom: 7px;
}

.auth_form {
    align-items: center;
    display: flex;
    flex-direction: column;
}
