body {
  background-color: #BABBB1;
}

.container {
  display: grid;
  height: 100vh; 
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navbar navbar"
    "menu workspace";
  gap: 10px;
}

.navbar {
  grid-area: navbar;
}

.menu {
  grid-area: menu;
}

.workspace {
  grid-area: workspace;
}
